*{
    margin: 0;
    padding: 0;
}
#isi{
    text-align: center;
    background-color:grey;
    padding: 25px;
    margin:0;
}
#TCcP{
    text-align: justify;
    margin-right: 200px;
}
#parralax{
    /*gambar*/
    background-image: url("sphere.jpg");
    /*spesifik height*/
    min-height: 500px;
    /*aturan*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar{
    background-color:rgb(18, 37, 41);
    background-attachment: fixed;
    letter-spacing: 0px;
    padding: 10px;
}
#navbar ul{
    margin-left: 50px;
    text-decoration: none;
} 
#Kotak{
    font-size: 25px;
    background-color:rgb(18, 37, 41) ;
    color: aliceblue;
    padding: 20px;
    letter-spacing: 10px;
}
#caption{
    position: absolute;
    text-align: center;
    top: 37%;
    width: 100%;
}
#caption2{
    position: absolute;
    text-align: center;
    top: 250%;
    width: 100%;
}
label{
    background-color: rgb(18, 37, 41) ;
    color: aliceblue;
    padding: 20px;
}
button,a{
    background-color:rgb(18, 37, 41) ;
    color: aliceblue;
    letter-spacing: 5px;
}
#bottom{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
