*{
    margin: 0;
    padding: 0;
}
#parralax{
    /*gambar*/
    background-image: url("sphere.jpg");
    /*spesifik height*/
    min-height: 500px;
    /*aturan*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar{
    background-color:rgb(18, 37, 41);
    background-attachment: fixed;
    letter-spacing: 0px;
    padding: 10px;
}
#navbar ul{
    margin-left: 50px;
    text-decoration: none;
    color: aliceblue;
}
#caption{
    position: absolute;
    text-align: center;
    top: 37%;
    width: 100%;
}
#Kotak{
    font-size: 25px;
    background-color:rgb(18, 37, 41) ;
    color: aliceblue;
    padding: 20px;
}
#isi{
    text-align: center;
    background-color:grey;
    padding: 25px;
    margin:0;
    font-family: sans-serif;
}
#TCcP{
    text-align: justify;
    margin-right: 100px;
}
#isi2,#isi3{
    background-color: rgb(255, 235, 205);
    padding: 25px;
    margin: 0;
    text-align: justify;
    font-family: sans-serif;
}
#isi2 p{
    margin-right: 100px;
}
#isi3 p{
    margin-right: 100px;
}
#isi4,#isi5{
    background-color: cadetblue;
    padding: 25px;
    margin: 0;
    text-align: justify;
}
#isi4 p, #isi5 p{
    margin-right: 100px;
}
#isi6 p{
    margin-right: 100px;
}
#isi7,#isi8{
    background-color: aqua;
    padding: 25px;
    margin: 0;
    text-align: justify;
}
#isi7 p, #isi8 p{
    margin-right: 100px;
}
#caption2{
    position: absolute;
    text-align: center;
    top: 250%;
    width: 100%;
}
#bottom{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
